<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <link
    href="http://cdn.pydata.org/bokeh/release/bokeh-1.3.4.min.css"
    rel="stylesheet" type="text/css">
<link
    href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-1.3.4.min.css"
    rel="stylesheet" type="text/css">

<script src="http://cdn.pydata.org/bokeh/release/bokeh-1.3.4.min.js"></script>
<script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-1.3.4.min.js"></script>
    <meta charset="UTF-8">
    <title>Hello world this is the homepage!</title>
</head>
<body>
Yo yo yo

{{ script|safe }}
{{ div|safe }}

</body>
</html>